.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.centered {
    margin-top: 1rem;
    font-size: smaller;
}

.centered a {
    text-decoration: none;
    margin-left: 5px;
    color: #6a5acd;
}

.centered a:hover {
    color: #3d308f;
}