<%- include('includes/head.ejs') %>
    <form action="/user" method="POST">
        <label for="name">User Name</label>
        <input type="text" name="username">
        <button type="submit">Add To Users</button>
    </form>
<%- include('includes/end.ejs') %>